[Unit]
Description=lanlytics API worker daemon
After=multi-user.target

[Service]
Type=idle
User=ubuntu
ExecStart=/home/ubuntu/lanlytics-api-worker/env/bin/python /home/ubuntu/lanlytics-api-worker/worker.py docker

[Install]
WantedBy=multi-user.target
