{% extends "base.html" %}
{% block body %}
<form class="form-horizontal">
  <fieldset>
    <legend>Population/Economics Assessment</legend>      
    <div class="form-group">
      <label for="textArea" class="col-md-1 control-label">Input</label>
      <div class="col-md-4">
        <textarea class="form-control" rows="10" id="ServiceInput"></textarea>
        <span class="help-block">Enter parameters for the calculation</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <button type="button" class="btn btn-primary job-submit" value="popecon">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
<div id="QueryDiv">
	<div class="col-md-4">
		<button type="button" class="btn btn-primary job-check" value="popecon">Check Job</button>
    <div class="panel panel-default">
      <div class="panel-body query-result"></div>
    </div>
	</div>
</div>
{% endblock %}
